@import "settings";
@import "foundation";

input[type="text"].loadinggif {
  background:
    url('https://cdnjs.cloudflare.com/ajax/libs/aui/5.6.10/aui-next/css/select2-spinner.gif')
    no-repeat
    right center
    #fff;
}

.team-cell {
  margin: 5px 0px;
}

.detail-background {
  background-color: white;
  border: 0.25rem darkolivegreen solid;
}

  .detail-background {
    padding: 1rem;
  }

.center-text {
  text-align: center;
}

.sub-detail-text {
  font-size: .85rem;
  font-style: italic;
}

.right-justify {
  text-align: right;
}

.broke {
  color: red;
}

.boosted {
  color: green;
}