@import "settings";
@import "foundation";

input[type="text"].loadinggif {
  background:
    url('https://cdnjs.cloudflare.com/ajax/libs/aui/5.6.10/aui-next/css/select2-spinner.gif')
    no-repeat
    right center
    #fff;
}

.team-cell {
  margin: 5px 0px;
}

.team-row:hover {
  color: #FAF20A;
}

.detail-background {
  background-color: white;
  border: 0.25rem darkolivegreen solid;
}

  .detail-background.player {
    padding: 1rem;
  }

.center-text {
  text-align: center;
}