<div ng-repeat="player in team.player">
  <a class="grid-block" ui-sref="home.playerDetail({ teamId: {{team['@id']}}, playerId: {{player['@id']}} })">
    <div class="team-cell grid-content small-8">
      <div>{{::player['@nr']}} {{::player.name}}</div>
      <div class="sub-detail-text">{{::player.position}}</div>
    </div>
    <div class="team-cell sub-detail-text grid-content small-4 right-justify">
      <div>{{::player.playerStatistics['@currentSpps']}} spp</div>
      <div>{{::player.playerStatistics.games}} games</div>
    </div>
  </a>
</div>
