---
name: home.teamDetail
url: team/:id
animationIn: slideInDown
---

<div class="grid-container detail-background player" class="detail-background" ng-controller="teamDetailCtrl">
  <div class="center-text grid-container medium-12">
    <h3>{{ team.name }}</h3>
    <div>{{ roster.name }} team coached by {{ team.coach }}</div>
  </div>
  <hr />
  <div class="grid-container medium-12 center-text">
    <div class="grid-block medium-12">
      <div class="grid-content medium-4">
        <label>TV</label>
        <div>{{team.teamValue | number}}</div>
      </div>
      <div class="grid-content medium-4">
        <label>Treasury</label>
        <div>{{team.treasury | number}}</div>
      </div>
      <div class="grid-content medium-4">
        <label>Record</label>
        <div>{{team.record.wins}} | {{team.record.ties}} | {{team.record.losses}}</div>
      </div>
    </div>
  </div>
  <hr />
  <div class="grid-container medium-12">
    <div class="show-for-small-only">
      <div ng-repeat="player in team.player">
        <a class="grid-block" ui-sref="home.playerDetail({ teamId: {{team['@id']}}, playerId: {{player['@id']}} })">
          <div class="team-cell grid-content small-8">
            <div>{{::player['@nr']}} {{::player.name}}</div>
            <div class="sub-detail-text">{{::player.position}}</div>
          </div>
          <div class="team-cell sub-detail-text grid-content small-4 right-justify">
            <div>{{::player.playerStatistics['@currentSpps']}} spp</div>
            <div>{{::player.playerStatistics.games}} games</div>
          </div>
        </a>
      </div>
    </div>
    <div class="show-for-medium">
      <div ng-repeat="player in team.player">
        <a class="grid-block" ui-sref="home.playerDetail({ teamId: {{team['@id']}}, playerId: {{player['@id']}} })">
          <div class="team-cell grid-content medium-5">{{player.name}}</div>
          <div class="team-cell grid-content medium-2">{{player.position}}</div>
          <div class="team-cell grid-content medium-2">{{player.playerStatistics['@currentSpps']}} spp</div>
          <div class="team-cell grid-content medium-3">{{player.playerStatistics.games}} games</div>
        </a>
      </div>
    </div>
  </div>
</div>
